* {font-family: sans-serif; margin: 0;}


@font-face {
  font-family: Archivo;
  src: url("fonts/Archivo-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: Archivo;
  src: url("fonts/Archivo-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: Archivo Black;
  src: url("fonts/Archivo-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: Archivo Black;
  src: url("fonts/Archivo-BlackItalic.ttf");
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: Archivo Expanded;
  src: url("fonts/Archivo_Expanded-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-stretch: expanded;
}

@font-face {
  font-family: Archivo Expanded;
  src: url("fonts/Archivo_Expanded-BlackItalic.ttf");
  font-style: italic;
  font-weight: 900;
  font-stretch: expanded;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
	background: #181311; 
	color: #FF8040;
	font-size: 1rem;
  margin: 0 auto;
  text-align: left;
}

img             {max-width:100%; height:auto;}
#z1             {color:#FF8040; font-family: Archivo Expanded, sans-serif; text-transform: uppercase; text-align: center; font-size: 10.1vw; margin-top: 1vw;}
#z1 a           {color:#FF8040; font-family: Archivo Expanded, sans-serif; text-transform: uppercase; text-align: center; font-size: 10.1vw; margin-top: 1vw; text-decoration: none;}
header hr 		{margin:2vw 4vw; border: 0.7px solid #FF8040;}
p 				{font-family: Archivo, sans-serif; font-size: 1.2rem; line-height: 1.5rem;}
h2              {font-family: Archivo, sans-serif; font-size: 2rem; line-height: 2.2rem; margin-top:2vw; margin-bottom: 3vw;}
h2 a            {font-family: Archivo, sans-serif; font-size: 2rem; line-height: 2.2rem; color:#FF8040; text-decoration: none;}
h2 a:hover      {cursor:pointer; text-decoration: none; color: #fff; font-family: Archivo, sans-serif; font-size: 2rem; line-height: 2.2rem;}
h2 b            {font-family: Archivo Black, sans-serif; font-size: 2rem; line-height: 2.2rem;}
h3              {font-family: Archivo Black, sans-serif; font-size: 1.7rem; line-height: 1.8rem;}
h3 a            {font-family: Archivo Black, sans-serif; font-size: 1.7rem; line-height: 1.8rem; color:#FF8040; text-decoration: none;}
h3 a:hover      {font-family: Archivo Black, sans-serif; font-size: 1.7rem; line-height: 1.8rem; cursor:pointer; text-decoration: none; color: #fff;}
h4              {font-family: Archivo, sans-serif; font-size: 1.7rem; line-height: 1.8rem;}
h4 a            {font-family: Archivo, sans-serif; font-size: 1.7rem; line-height: 1.8rem; color:#FF8040; text-decoration: none;}
h4 a:hover      {font-family: Archivo, sans-serif; font-size: 1.7rem; line-height: 1.8rem; cursor:pointer; text-decoration: none; color: #fff;}
hr              {margin-top: 3vw; margin-bottom: 3vw; border: 0.7px solid #FF8040;}

main            {font-size: 1.5rem; line-height: 1.5rem; margin: 4vw; font-family: Archivo, sans-serif;}
main p a          {color:#FF8040; text-decoration: none; font-family: Archivo Black, sans-serif;}
main p a:hover    {cursor:pointer; text-decoration: none; color: #fff}
figure          {margin: 0 auto;}
.quote          {float: center; text-align: left; width: 60%; margin: auto; padding-left:2rem; border-left:4px solid #FF8040; font-style:oblique; font-weight:bold;}
blockquote      {margin: 1rem auto;}

#nav-item a          {color:#FF8040; text-decoration: none;}
#nav-item a:hover    {cursor:pointer; text-decoration: none; color: #fff}
nav                  {margin: 0 4vw; color:#FF8040; display:  flex; justify-content: space-between; font-family: Archivo, sans-serif; font-size: 1.5rem; line-height: 1.5rem;}

footer          {height:100px; margin: 4vw; margin-top: auto; display: flex; justify-content: space-between; align-items: flex-end; font-size: 1rem; line-height: 1.2rem;} 
footer img      {display: block; height: inherit;}

